<!-- templates/home.html -->
{% extends 'base.html' %}
{% block content %}
{% for post in object_list %}
<div class="post-entry container-fluid mb-3 my-3  ">
    <div class=" container-fluid">
        <h4><a href="{% url 'post_detail' post.pk %}">{{ post.title }}</a></h4>
    </div>
    <div class=" container-fluid">
        <p>{{ post.body }}</p>
        <text>-{{ post.author }}</text>
    </div>
    
    <hr>
</div>
{% endfor %}
<p>just checking if this chunk stays hidden or not</p>
{% endblock content %}